body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 13px;
}

nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content li > a {
  font-size: 14px;
}

.dropdown-content li > a > i {
  margin: 0 5px 0 0;
}

#brand {
  line-height: 2;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: stretch;
  width: 350px;
  max-height: 550px;
  padding: 10px;
  overflow: auto;
}

#config {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;

  flex: 1 1 100%
}

.streamer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  flex: 1 1 auto;
  padding: 10px 0;
}

.streamer-name {
  font-weight: bold;
  margin-left: 5px;
}

.logo {
  background: url(../assets/icons/144360146.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.navbar-logo {
  background: url(../assets/icons/144360146.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  
}

.icon-144360146 {
  background: url(../assets/icons/144360146.png) no-repeat;
  background-size: contain;
  max-width: 16px !important;
  height: 16px;
  align-self: center;
}

.streamer-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.streamer-title[status='LIVE'] {
  justify-content: flex-end;
}

.streamer-title[status='OFF'] {
  justify-content: flex-start;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.collapsible-header {
  cursor: default;
}

.collapsible-body{
  padding: 0;
}

.collapsible-body > .content {
  padding: 0.3rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collapsible-body > .content > p {
  margin-left: 10px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.clickable {
  cursor: pointer;
}