.bg-main {
    background-color: #029402;
}

.bg-light-accent {
    background-color: #4685F2 !important;
}

.bg-light-shades {
    background-color: #F0ECEE;
}

.bg-dark-accent {
    background-color: #557577;
}

.bg-dark-shades {
    background-color: #1E2B4C;
}

.txt-light-theme {
    color: #1E2B4C;
}

.txt-dark-theme {
    color: #F0ECEE;
}

.txt-main {
    color: #029402;
}
  
.txt-light-accent {
    color: #4685F2;
}

.txt-dark-accent {
    color: #557577;
}

:root { 
    --light-shades: #F0ECEE; 
    --light-accent: #4685F2;
    --main: #029402;  
    --dark-accent: #557577;
    --dark-shades: #1E2B4C; 
}

html, body {  
    background: var(--light-shades);  
    color: var(--dark-shades);  
}

nav {
    background-color: var(--dark-shades);
    color: var(--light-shades);
}

#options-dropdown {
    background-color: var(--dark-shades);
    color: var(--light-shades) !important;
}


.badge {
    background-color: var(--light-accent) !important;
    color: var(--light-shades) !important;
}

.badge.flaiveth[data-badge-caption='LIVE'] {
    background-color: var(--main) !important;
    color: var(--light-shades) !important;
}

.badge.flaiveth[data-badge-caption='OFF'] {
    background-color: var(--dark-accent) !important;
    color: var(--light-shades) !important;
}

.badge[data-badge-caption='LIVE'] {
    background-color: var(--light-accent) !important;
    color: var(--light-shades) !important;
}

.badge[data-badge-caption='OFF'] {
    background-color: var(--dark-accent) !important;
    color: var(--light-shades) !important;
}


.card-title {
    color: var(--light-shades) !important;
}

.card-content {
    background-color: var(--dark-shades) !important;
    color: var(--light-shades) !important;
}

.card-action {
    background-color: var(--main) !important;
    color: var(--light-shades) !important;
}

.container {
    position: relative;
}

.collapsible-header {
    /*background-color: var(--dark-shades);*/
    color: var(--dark-shades);
    /* border-color: var(--dark-shades); */
}

.collapsible-body > .content > .url-icon {
    color: var(--main);
}

#loading-overlay {
    background-color: var(--dark-shades); 
    opacity: 0.95;     
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    justify-content: center;
  }